<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
 <!-- Services Start -->
    <div class="container-fluid bg-light pt-5">
        <div class="container py-5">
            <div class="d-flex flex-column text-center mb-5">
                <h4 class="text-secondary mb-3">Dịch Vụ Của Chúng Tôi</h4>
                <h1 class="display-4 m-0"><span class="text-primary">Dịch vụ thú cưng</span> Cao cấp</h1>
            </div>
            <div class="row pb-3">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-house display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Nội trú thú cưng</h3>
                        <p>cung cấp các tiện nghi, ăn uống, nghỉ ngơi, vui chơi giải trí và một số thông tin khác ,các phòng nội trú khác nhau phù hợp từng loại “thú cưng”</p>
                        <a class="text-uppercase font-weight-bold" href="">Xem Thêm</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-food display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Dịch vụ ăn uống</h3>
                        <p>Cung cấp khẩu phần ăn đặc biệt và phù hợp cho từng loại thú cưng của bạn , ngoài ra dịch vụ còn cung cấp thực đơn theo khẩu phần ăn đầy đủ dinh dưỡng cho các loại "thú cưng"</p>
                        <a class="text-uppercase font-weight-bold" href="">Xem Thêm</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-grooming display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Dịch vụ Spa</h3>
                        <p>Spa thú cưng là các dịch vụ chăm sóc và “ làm đẹp” cho thú cưng bằng các công việc như cắt tỉa, cạo lông, nhuộm, tắm và vệ sinh cho chó mèo ,tư vấn dinh dưỡng</p>
                        <a class="text-uppercase font-weight-bold" href="">Xem Thêm</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-cat display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Pet Training</h3>
                        <p>Pet Training là hình thức day các kĩ năng cho thú cưng ,dù chỉ mới được phát triển gần đây , nhưng được nhiều người quan tâm và yêu thích</p>
                        <a class="text-uppercase font-weight-bold" href="">Xem Thêm</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-dog display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Bài tập thú cưng</h3>
                        <p>thú cưng của bạn sẽ được học các lệnh , thưởng phạt theo hành vi ,dạy thú cưng các động tác bắt tay , đi vệ sinh đúng chổ... </p>
                        <a class="text-uppercase font-weight-bold" href="">Xem Thêm</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-vaccine display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Điều trị thú cưng</h3>
                        <p>cung cấp dịch vụ y tế , chăm sóc và điều trị triệt để các bệnh của thú cưng , ngoài ra còn có các vaccine phòng bệnh ở thú cưng</p>
                        <a class="text-uppercase font-weight-bold" href="">Xem Thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <!-- Services End -->

   

    <!-- Testimonial Start -->
    <div class="container-fluid bg-light my-5 p-0 py-5">
        <div class="container p-0 py-5">
            <div class="d-flex flex-column text-center mb-5">
                <h4 class="text-secondary mb-3">Phản hồi từ khách hàng</h4>
                <h1 class="display-4 m-0">Feed Back từ <span class="text-primary">Khách Hàng</span></h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="bg-white mx-3 p-4">
                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="img/may.jpg" style="width: 80px; height: 80px;" alt="">
                        <div class="ml-3">
                            <h5>Mây</h5>
                            <i>Khách hàng thân thiết</i>
                        </div>
                    </div>
                    <p class="m-0">"tui cảm thấy quá hài lòng về dịch vụ thú cưng tại đây , ở đây cho tui cảm giác tự nhiên như ở nhà vì tui là chủ mà hehe"</p>
                </div>
                <div class="bg-white mx-3 p-4">
                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;" alt="">
                        <div class="ml-3">
                            <h5>Client Name</h5>
                            <i>Profession</i>
                        </div>
                    </div>
                    <p class="m-0">dịch vụ quá tuyệt vời</p>
                </div>
                <div class="bg-white mx-3 p-4">
                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;" alt="">
                        <div class="ml-3">
                            <h5>Client Name</h5>
                            <i>Profession</i>
                        </div>
                    </div>
                    <p class="m-0">rất hài lòng về dịch vụ , sẽ ủng hộ lâu dài</p>
                </div>
                <div class="bg-white mx-3 p-4">
                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;" alt="">
                        <div class="ml-3">
                            <h5>Client Name</h5>
                            <i>Profession</i>
                        </div>
                    </div>
                    <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum sanct clita</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
</body>
</html>
