<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main class="main-content">
		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li>
										<a href="/">Home</a>
									</li>
									<li class="breadcrumb-sep">/</li>
									<li>About</li>
								</ul>
							</nav>
							<h4 class="title">About</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="about-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="about-thumb">
							<a href="javascript:(0);">
								<img class="w-100" src="assets/img/about.png">
							</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content">
							<h4 class="title">Our company</h4>
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
								velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
								exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada
								vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu, pellentesque at
								sodales sit amet, condimentum id nunc. Donec ornare mattis suscipit. Praesent fermentum accumsan
								vulputate.</p>
							<a class="btn-theme" href="javascript:(0);">read more</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="team-area">
			<div class="container pt-2">
				<div class="row">
					<div class="col-lg-12 m-auto">
						<div class="section-title section-title-style-two text-center">
							<h2 class="sub-title">HAND WORK</h2>
							<h2 class="title">our expert team</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="team-item">
							<div class="inner-content">
								<div class="thumb">
									<a href="javascript:(0);">
										<img class="w-100" src="assets/img/team/hoangduy.jpg">
									</a>
								</div>
								<div class="content">
									<h4 class="title">
										<a href="javascript:(0);">NGUYEN HOANG DUY</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="team-item">
							<div class="inner-content">
								<div class="thumb">
									<a href="javascript:(0);">
										<img class="w-100" src="assets/img/team/ducduy.jpg">
									</a>
								</div>
								<div class="content">
									<h4 class="title">
										<a href="javascript:(0);">NGUYEN DUC DUY</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="team-item">
							<div class="inner-content">
								<div class="thumb">
									<a href="javascript:(0);">
										<img class="w-100" src="assets/img/team/huyphi.jpg">
									</a>
								</div>
								<div class="content">
									<h4 class="title">
										<a href="javascript:(0);">DUONG HUY PHI</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 mt-3">
						<div class="team-item">
							<div class="inner-content">
								<div class="thumb">
									<a href="javascript:(0);">
										<img class="w-100" src="assets/img/team/honglinh.jpg">
									</a>
								</div>
								<div class="content">
									<h4 class="title">
										<a href="javascript:(0);">NGO HONG LINH</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 mt-3">
						<div class="team-item">
							<div class="inner-content">
								<div class="thumb">
									<a href="javascript:(0);">
										<img class="w-100" src="assets/img/team/trungkien.jpg">
									</a>
								</div>
								<div class="content">
									<h4 class="title">
										<a href="javascript:(0);">VU TRUNG KIEN</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 mt-3">
						<div class="team-item">
							<div class="inner-content">
								<div class="thumb">
									<a href="javascript:(0);">
										<img class="w-100" src="assets/img/team/haidang.jpg">
									</a>
								</div>
								<div class="content">
									<h4 class="title">
										<a href="javascript:(0);">PHAM HAI DANG</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>